# Python Collector
LATITUDE=-23.5505
LONGITUDE=-46.6333
COLLECTION_INTERVAL=1

# NestJS API
JWT_SECRET=supersecretkey
MONGO_URI=mongodb://mongodb:27017/weatherdb

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_QUEUE=weather_data
